.imgwrap {
  background-image: url("../img/Edison3.png");
  background-repeat: no-repeat;
  background-position:900px; 
}

.colorblue {
  background-color: #999999
}

.navcolor {
  background-color: #999999
}

twss { 
  color: #FF0000
}
